
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
    //string path = "~/Content/ProductImages/";
}

<h2>Welcome</h2>
<div>
    @*<table>
        @foreach (var item in Model)
        {
            
            <tr>
                <td><img style="width: 100px; height: 100px;" src="@item.Image" /></td>
            </tr>
        }
    </table>*@
</div>
