
@{
    ViewBag.Title = "Booking";
    Layout = "~/Views/Shared/User_Master.cshtml";
}

<h2>Booking</h2>
@*<div>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Weight</th>
                <th>Cost</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Weight</td>
                <td>@item.Cost</td>
            </tr>
        }


    </table>
</div>*@
