
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/User_Master.cshtml";
}

<head>
    <meta charset="UTF-8">
    <title>CodePen - Carousel</title>
    <style>
        .cstm-height-card .card-img-top {
            /*height: 100px;*/
            object-fit: cover;
        }

        .card-img-top {
            height: 200px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row mb-5" style="margin: 30px;">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card">
                        <img src="~/Content/ProductImages/@item.Image" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-title">@item.Name</h4>
                            <p class="card-title">@item.Weight</p>
                            <h5 class="card-title">Rs.@item.Cost</h5>
                            <input type="checkbox" id="txtCbox" name="interest" value="@item.ProductId" />
                            <input type="hidden" id="hdntxtbox" />
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
  
    <div style="text-align:center;"> 
        <button id="refCart"> Go to Cart</button>
    </div>

    @*<script src="~/Scripts/jquery-3.4.1.js"></script>*@

   
    <script>
        $(document).ready(function () {
            $('#refCart').click(function () {
                var vals = $(':checkbox:checked').map(function () {
                    return $(this).val();
                }).get().join(',');
                $.ajax({
                    type: 'POST',
                    url: '/User/Cart',
                    data: { 'productid': vals },
                    success: function (data) {
                        alert("success");
                        location.reload();
                    },
                    error: function (error) {
                        alert("fail");
                    }
                })
            })

        })
    </script>
</body>

