
@{
//Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    @*<meta name="viewport" content="width=device-width, initial-scale=1">*@
    <meta name="viewport" content="width=device-width" />
    <title>Log In</title>
    <link href="~/Content/css/login.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <!-- Main Content -->
    <div class="container-fluid">
        <div class="row main-content bg-success text-center" style="margin: auto; margin-top: 100px;">
            <div class="col-md-4 text-center company__info">
                <span class="company__logo"><h2><img src="~/Content/images/logo3_14_181731.png" style="width:100px;" /></h2></span>
                @*<h4 class="company_title">MeShop</h4>*@
            </div>
            <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
                <div class="container-fluid">
                    <div class="row">
                        <h2>Log In</h2>
                    </div>
                    <div class="row">
                        <form control="" class="form-group">
                            <div class="row">
                                <input type="text" name="username" id="username" class="form__input" placeholder="Username">
                            </div>
                            <div class="row">
                                <!-- <span class="fa fa-lock"></span> -->
                                <input type="password" name="password" id="password" class="form__input" placeholder="Password">
                            </div>
                            @*<div class="row">
                                <input type="checkbox" name="remember_me" id="remember_me" class="">
                                <label for="remember_me">Remember Me!</label>
                            </div>*@
                            <div class="row">
                                <input type="submit" value="Submit"  class="btn" id="btnsubmit">
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <p>Don't have an account? <a href="Register">Register Here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div class="container-fluid text-center footer" style="margin-top: 10px;">
        <p>Coded with &hearts; by <a href="#">MeShop.</a></p>
    </div>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script>
        $(document).ready(function () {
            $('#btnsubmit').click(function () {
                let logindata = {
                    UserName: $('#username').val(),
                    Password:$('#password').val()
                }
                $.ajax({
                    type:'post',
                        url:'/Main/LogIn',
                    data: logindata,
                    success: function () {
                        alert("login successfully");
                    },
                    error: function () { 
                        alert("fail")
                    }


                })
            })


        })
    </script>
</body>
</html>
